@import url('https://fonts.googleapis.com/css2?family=Paytone+One&display=swap');

body {
    font-family: "Paytone One", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin: 0;
    padding: 0;
    background-color: #fff;
}

.novedadesCafeteria {
    background-color: #F5CEDD;
    padding: 5vh 0;
    text-align: center;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
}

.novedadesCafeteria h2 {
    margin-bottom: 2vh;
    font-size: 2.5rem;
}

.introNovedades {
    width: 60%;
    margin: 0 auto 4vh;
    font-size: 1.1rem;
}

.contenedorNovedades {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3vh;
    padding: 0 2rem;
}

.tarjetaNovedad {
    background-color: white;
    width: 80%;
    max-width: 700px;
    padding: 2vh 2vw;
    border-radius: 12px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    text-align: left;
}

.tarjetaNovedad h3 {
    font-size: 1.5rem;
    margin-bottom: 1vh;
}

.tarjetaNovedad p {
    font-size: 1rem;
    line-height: 1.5;
}
